<h2>About me</h2>
<p>Go bears!</p>

<h2>Education</h2>
<ul>
  <li>UC Berkeley</li>
  <li>Stanford Law School</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:me@maliamcpherson/com">me@maliamcpherson.com</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="facebook.com/maliajmcpherson">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="linkedin.com/pub/malia-mcpherson/23/a6a/a86">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-wordpress fa-lg main-list-item-icon"></span>
    <a href="beakerreport.com">Beaker Report</a>
  </li>
</ul>
